@media screen and (min-width:768px){ 
    .container{
      min-width: 0px;
      max-width: none;
      padding: 0 32px;
      width: 768px;
    }
  
    .section{
      padding: 100px 0px;
    }
  }
  
@media screen and (min-width:1280px){ 
    .container{
    padding: 0 100px;
    width: 1280px;
    }

}
@media screen and (min-width: 768px) {
    .advertisement {
    padding: 100px 0;
    }
    /* .advertisement-container {
    width: 768px;
    padding: 0 32px;
    } */
    .advertisement-text {
    font-size: 64px;
    line-height: 1.09;
    }
    .advertisement-span {
    margin-left: -16px;
    margin-right: -16px;
    padding: 8px 16px;
    }
    }
    
@media screen and (min-width: 1280px) {
.advertisement-container {
/* width: 1280px; */
padding: 0 113px;
}
.advertisement-text {
font-size: 76px;
line-height: 1.05;
}
.advertisement-span {
display: inline-block;
margin-left: -13px;
margin-right: -13px;
padding: 0 13px;
}
}
@media screen and (min-width: 768px) {
    .footer-container {
      padding: 32px 32px;
    }
    .footer-logo-container {
      max-width: 265px;
      gap: 25px;
      margin-right: auto;
    }
    .footer-text {
      font-size: 16px;
      line-height: 1.25;
    }
    .footer-nav-container {
      display: flex;
      flex-direction: row;
    }
    .footer-tablet-wrap {
      display: flex;
      flex-direction: column;
      gap: 64px;
    }
    .footer-nav-wrap {
      display: flex;
      flex-direction: column;
    }
    .footer-nav {
      gap: 25px;
    }
    .footer-nav-item {
      font-size: 32px;
    }
  
    .footer-address {
      gap: 25px;
    }
    .footer-address-wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
    }
    .footer-address-item {
      font-size: 18px;
      line-height: 1.11;
    }
    .footer-bottom-link {
      font-size: 18px;
      line-height: 1.11;
    }
    .footer-bottom-text {
      font-size: 18px;
      line-height: 1.11;
    }
    .copyright {
      font-size: 18px;
      line-height: 1.11;
    }
  }
  
  /* ADAPTIVE-DESKTOP */
  
  @media screen and (min-width: 1280px) {
    .footer-container {
      padding: 50px 100px;
    }
    .footer-tablet-wrap {
      display: flex;
      flex-direction: row;
      gap: 121px;
    }
    .footer-nav-container {
      margin-bottom: 125px;
    }
    .footer-address-wrap {
      margin: 0 auto;
    }
  }

  @media screen and (min-width:768px) {

    .header {
        background-color: transparent;
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translatex(-50%);
        padding-top: 0px;
    }
  
    .header-logo-label {
        width: 18px; 
        height: 18px;
    }
  
    .header-logo-text {
        width: 168px;
        height: 15px;
    }
  
    .header-mob-menu-open, .mob-menu-open {
        width: 40px;
        height: 40px;
    }
  
    .modal-menu-conteiner {
        max-width: 351px;
        padding: 360px 97px 50px 97px;
    }
  
    .modal-close {
        width: 40px;
        height: 40px;
    }
  
    .modal-close-icon {
      width: 20px;
      height: 20px;
    }
  
    .header-mob-menu-item {
        padding: 12px 12px;
    }
  
    .header-mob-menu-item a {
        font-size: 15px;
        line-height: 20px;
    }
  
    .header-mob-menu-button {
        padding: 16px 32px;
        min-width: 157px;
        font-size: 17px;
        line-height: 20px;
    }
  }
  
  @media screen and (min-width:1280px) {
    
    /* .container {
        width: 1280px;
        padding: 0 100px 0 100px;
    } */
  
    .header-menu {
        display: flex;
        gap: 20px;
    }
  
    .heder-menu-list {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .header-menu-link {
        border: 1px solid rgba(251, 251, 251, 0.4);
        border-radius: 12px;
        padding: 12px;
  
        color: aliceblue;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
  
        transition: background-color 250ms ease-in-out,
                  border-color 250ms ease-in-out;
    }
  
    .header-menu-link:hover {
      background-color: #622133;
      border-color: transparent;
    }
  
    .header-menu-button {
        border-radius: 30px;
        border: none;
        padding: 16px 32px;
        background-color: #622133;
        color: #FBFBFB;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .header-menu-button:hover {
        background-color: #7A3145;
        cursor: pointer;
    }
  
    .backdrop-mob-menu {
        display: none;
    }
  
    .header-mob-menu-open {
        display: none;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .img-wrapper {
      background-image: url(../img/hero-section/hero-image-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
      font-size: 76px;
  }
  
  .hero-text {
      font-size: 16px;
      width: 603px;
  }
  
  .text-wrapper {
      gap: 25px;
      padding-top: 122px;
      padding-bottom: 50px;
  }
  
  .img-wrapper {
      background-image: url(../img/hero-section/hero-image-tab@1x.jpg);
      width: 100%;
      height: 539px;
  }
  
  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .img-wrapper {
          background-image: url(../img/hero-section/hero-image-tab@2x.jpg);
      }
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
      display: flex;
  }

  #hero-container {
      padding-right: 28px;
      width: 630px;
  }

  .hero-title {
      width: 502px;
  }
  
  .hero-text {
      width: 472px;
      margin-bottom: 40px;
  }
  
  .text-wrapper {
      gap: 128px;
      padding-top: 238px;
      padding-bottom: 0;
  }

  .img-wrapper {
      background-image: url(../img/hero-section/hero-image-pc@1x.jpg);
      max-width: 50%;
      height: 800px;
  }
  
  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .img-wrapper {
          background-image: url(../img/hero-section/hero-image-pc@2x.jpg);
      }
  }
}

@media screen and (min-width:768px) {
    .hiw-img-container{
        max-width: 640px;
    }
    .hiw-bg-container{
        padding: 100px 64px;
    }
    .hiw-list-container{
        padding: 100px 159px;
    }
    .hiw-list-title{
        width: 450px;
        font-size: 32px;
        margin-bottom: 25px;
    }
    .hiw-list-text{
        width: 450px;
        font-size: 16px;
    }
    .hiw-list{
        margin-top: 50px;;
    }
    .hiw-item{
        padding: 12px 25px 12px 24px;
        max-width: 450px;
        height: 76px;
    }
    .hiw-item-text{
        width: 325px;
    }
  }
  
  @media screen and (min-width:1280px) {
    .hiw-container{
        flex-direction: row;
    }
    .hiw-img-container{
        max-width: 430px;
    }
    .hiw-bg-container{
        padding: 100px;
        min-width: 50%;
    }
    .hiw-list-container{
        padding: 100px;
        min-width: 50%;  
    }
    
  }

  @media screen and (min-width: 768px) {
    /* .reviews-container {
        min-width: 0;
        max-width: none;
        width: 768px;
        padding: 0 32px;
    } */
  
    .title-reviews {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 25px;
        width: 533px;
    }
  
    .reviews-p {
        font-size: 16px;
        line-height: 1.25;
        width: 533px;
        margin-bottom: 50px;
    }
  
    .reviews-ul {
        display: flex;
        gap: 18px;
        height: 258px;
    }
  
    .reviews-li {
        width: calc((100% - 20px) / 2);
        padding: 20px 27.5px 20px 27.5px;
        width: 343px;
    }
  
    .reviews-li:nth-child(2) {
        display: block;
    }
  
    .reviews-name {
        font-size: 18px;
        line-height: 1.1;
        color: #141414;
    }
  
    .reviews-p-li {
        font-size: 16px;
        line-height: 1.4;
        color: rgba(20, 20, 20, 0.4);
    }
  }
  
  @media screen and (min-width: 1280px) {
    /* .reviews-container {
        width: 1280px;
        padding: 0 100px;
    } */
  
  
    .title-reviews {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 25px;
        width: 553px;
    }
  
    .reviews-p {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 50px;
        width: 553px;
    }
  
    .reviews-ul {
        gap: 25px;
        height: 258px;
    }
  
    .reviews-li {
        width: calc((100% - 20px) / 3);
        padding: 20px 27.5px 20px 27.5px;
    }
  
    .reviews-li:nth-child(3) {
        display: block;
    }
  
    .reviews-name {
        font-size: 18px;
        line-height: 1.1;
        color: #141414;
    }
  
    .reviews-p-li {
        font-size: 16px;
        line-height: 1.4;
        color: rgba(20, 20, 20, 0.4);
    }
  }

  @media screen and (min-width: 768px) {
    /* .vegetables {
      padding: 100px 32px;
    } */
    /* .vegetables-container {
      width: 768px;
    } */
    .vegetables-title {
      font-size: 64px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 50px;
    }
    .vegetables-title-dark {
      display: flex;
    }
    .vegetables-subtitle {
      width: 626px;
      font-size: 16px;
      line-height: 1.25;
      margin-bottom: 50px;
    }
    .vegetables-list {
      row-gap: 28px;
      column-gap: 20px;
    }
    .vegetables-list-item {
      max-width: 342px;
      width: calc((100% - 20px) / 2);
    }
  }
  @media screen and (min-width: 1280px) {
    /* .vegetables {
      padding: 100px;
    }
    .vegetables-container {
      width: 1280px;
    } */
    .vegetables-list {
      column-gap: 21px;
    }
    .vegetables-list-item {
      width: calc((100% - 42px) / 3);
    }
  }

  @media screen and (min-width:768px){
    .your-order {
        padding: 100px 0;
    }
    .your-order-title {
        margin-bottom: 25px;
        font-size: 64px;
        line-height: 100%;
    }
    .your-order-description {
        margin-bottom: 50px;
        max-width: 640px;
    }
    .your-order-form-column {
        padding: 50px 100px;
        max-width: 628px;
        margin: 0 auto 25px auto;
    }
    .your-order-form-description {
        margin-bottom: 50px;
    }
    .your-order-name::placeholder,
    .your-order-email::placeholder,
    .your-order-comment::placeholder {
        font-size: 16px;
        line-height: 125%;
    }
    .your-order-name,
    .your-order-email,
    .your-order-comment {
        padding: 16px;
    }
    .your-order-button {
        font-size: 18px;
        line-height: 111%;
    }
    .your-order-social-column {
        max-width: 628px;
        margin: 0 auto;
        padding: 50px;
    }
    .your-order-image-wrapper {
        margin-bottom: 50px;
    }
    .your-order-social-text {
        margin-bottom: 15px;
  
        font-size: 18px;
        line-height: 111%;
    }
    .your-order-social-item,
    .your-order-social-divider {
        font-size: 32px;
        line-height: 100%;
    }
  }
  
  @media screen and (min-width:1280px){
    .your-order-title {
        max-width: 751px;
    }
    .your-order-wrapper {
        display: flex;
        gap: 24px;
    }
    .your-order-form-column {
        margin: 0;
        padding: 50px;
        max-width: unset;
        flex-basis: calc((100% - 24px) / 2);
    }
    .your-order-social-column {
        max-width: none;
        flex-basis: calc((100% - 24px) / 2);
    }
  }